.container {
  max-width: $desktop;
  margin: 0 32px 0 32px;
  background: #fefefe;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 16px;
  align-content: center;
}
.aside {
  grid-column: 1 / 5;
  background: #d0cfcf;
  display: grid;
  grid-template-columns: minmax(20px, 25%) 1fr;
}
.person {
  margin: 40px auto;
  grid-column: 2;
  @include small-font;
  &__photo {
    height: 150px;
    width: 150px;
    grid-column: 2;
  }
  &__title {
    font-family: "Lato";
    font-size: 26px;
    margin: 20px 0;
  }
}

.contact {
  @include resetLink;
  &__title {
    font-family: "Lato";
    margin-bottom: 30px;
    font-size: $small-title;
  }
}
