$wtf: #2d2241;
$desktop: 780px;
$resetLink: none;
$small-title: 18px;

@mixin resetLink {
  a {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    display: block;
  }
}

@mixin small-font {
  p {
    font-size: 14px;
  }
}
