@import "~normalize.css";
@import "_variables";
@import "modules/content.scss";
@import "modules/aside.scss";
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&family=Lato:wght@700&display=swap");

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Maven Pro", sans-serif;
}

.container {
  max-width: $desktop;
  margin: 0 32px 0 32px;
  background: #fefefe;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 16px;
  align-content: center;
}
